
body {
    background-image: url(https://img.freepik.com/premium-photo/abstract-pastel-lavender-white-background-light-minimalist-soft-brush-strokes-paper_145343-1539.jpg?w=2000);
    background-size: cover;
    /* background-repeat: repeat; */
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

main {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

div {
    border: 3px outset pink;
    height: 150px;
    width: 150px;
}

section {
    width: 450px;
    display: flex;
    /* border: 3px solid white; */
}

.red {
    background-image: url(./red_splat.png);
    background-size: cover;
    opacity: .7;
    animation-name: splatt;
    animation-duration: 0.5s;
}

.blue {
    background-image: url(./blue_splat.png);
    background-size: cover;
    opacity: .8;
    animation-name: splatt;
    animation-duration: 0.5s;
}

@keyframes splatt {
    from {background-size: 1px;}
    to {background-size: cover;}
}